.menu-content {

    width: 70%;
    margin: 0 auto;

}

.menu-item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 40px;
}

.menu-item img {
    width: 300px;
    height: 250px;
}

.menu-item-details p {
    width: 300px;
}

.menu-item-price {
    font-size: 30px;
    color: tomato;
}