{% extends "food/layout.html" %}
{% load static %}
{% block cover%}
<div class="cover-img">
    <div class="cover-content">
        <h1 class="cover-title">Welcome to our Restaurants List</h1>
        <h2 class="cover-subtitle">Enjoy our Delicious Meals</h2>
        <a href="{% url 'restaurant_list' %}" class="btn header-btn">View Restaurants</a>
    </div>
</div>
{%endblock%}
{% block main %}

<section class="about-us-section">
    <article class="about-us-article">
        <h2 class="section-title ">About Us</h2>
        <p>Welcome to Dinefine, your ultimate guide to discovering the best restaurants around you. Whether you’re
            a foodie searching for hidden gems or simply looking for a place to enjoy a meal with friends and family,
            we’ve got you covered. At Dinefine, we believe that dining is more than just eating—it's about
            experiencing new flavors, exploring different cultures, and creating lasting memories.
        </p>
    </article>
    <hr>

</section>

<section class="chef-section">
    <img class="chef" src="{% static 'imgs/chef.png' %}" alt="">
</section>

<section class="our-mission-section">
    <div class="flex">
        <article class="mission-article">
            <h2 class="section-title">Our Mission</h2>
            <p>Our mission is simple: to connect people with the best restaurants in their area. We curate a diverse
                selection of dining spots ranging from cozy cafes and family-owned eateries to trendy spots and fine
                dining establishments. We’re passionate about food and want to make it easier for you to find places
                that match your taste, budget, and preferences.

            </p>

        </article>
        <div class="mission-img-div">
            <img width="500px" height="300px" src="{% static 'imgs/food-placeholder.jpg'%}" alt="">

        </div>


    </div>
</section>


<section class="menu-section">
    <h2 class="section-title ">Our Restaurants</h2>
    <div class="items-container">

        {% for restaurant in restaurants %}
        <div class="item">
            <h3 class="item-title">{{restaurant.restaurant_name}}</h3>
            <img src="{{restaurant.restaurant_image.url}}" width="300px" height="250px" alt="">

            <a class="btn" href="{%url 'food:restaurant_details' restaurant.restaurant_slug %}">View More</a>
        </div>

        {%endfor%}
    </div>
    <a href="{% url 'restaurant_list' %}" class="view-all-restaurants">View All</a>
</section>

{% endblock %}