{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food App</title>
    <link rel="stylesheet" href="{% static 'css/global.css'%}">

    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/restaurant_details.css'%}">
    <link rel="stylesheet" href="{% static 'css/menu_items_list.css'%}">
    <link rel="stylesheet" href="{% static 'css/restaurant_list.css'%}">
    <link rel="stylesheet" href="{% static 'css/rwd_global.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d495971c43.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div class="top-bar">

            </div>

            <div class="navbar">
                <div class="navbar-wrapper">
                    <img class="logo" src="{% static 'imgs/logo.jpg'%}" alt="">


                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'restaurant_list' %}">Restaurants</a>
                </div>

            </div>
        </nav>
        {% block cover%}
        {% endblock %}
    </header>

    <main>
        {% block main %}

        {% endblock %}
    </main>

    <footer>
        <div class="footer-div">
            <p>&copy; <span id="cpyear"></span> - Created & Developed by <a target="_blank" class="personal-site"
                    href="https://costasnicou.com">Costas
                    Nicou</a></p>

            <div class="personal-social-media">
                <!-- facebook -->
                <a class="personal-social-icon" target="_blank" href="https://www.facebook.com/costas.nicou.3/">
                    <i class="fa-brands fa-facebook"></i></a>
                <!-- instagram -->
                <a class="personal-social-icon" target="_blank" href="https://www.instagram.com/cnicou.tech/"><i
                        class="fa-brands fa-instagram"></i></a>

                <!-- linkedin -->
                <a class="personal-social-icon" target="_blank" href="https://www.linkedin.com/in/cnicou/"><i
                        class="fa-brands fa-linkedin"></i></a>
            </div>

        </div>



    </footer>

    <script src="{% static 'js/carousel.js'%}"></script>
    <script>
        var copyright = document.querySelector("#cpyear");
        // Return today's date and time
        var currentTime = new Date()
        // returns the year (four digits)
        var year = currentTime.getFullYear()
        copyright.innerText = year;
    </script>
</body>

</html>