{% extends "food/layout.html" %}
{% block main%}
<section>
    <div class="menu-items-layout">
        <aside class="menu-items-categories">
            <ul class="categories-list">
                <h2>Menu Categories</h2>
                {% for menu_category_item in menu_categories %}
                <li><a
                        href="{% url 'food:menu_list' restaurant.restaurant_slug menu_category_item.menu_slug %}">{{menu_category_item.menu_name}}</a>
                </li>
                {%endfor %}

            </ul>
        </aside>

        <div class="menu-items-flex">
            {% if menu_items %}
            {% for menu_item in menu_items %}
            <div class="menu-item">
                <h3>{{menu_item.menu_item_name}}</h3>
                <img src="{{menu_item.menu_item_image.url}}" width="200px" height="200px" alt="">
                <p class="menu-item-price">Price: € {{menu_item.menu_item_price}}</p>
            </div>
            {%endfor%}
            {% else %}
            <h2 class="no-items">No Menu items to show</h2>
            {% endif %}
        </div>
    </div>


</section>
<div class="back-to-hp">
    <a class="btn" href="{% url 'food:restaurant_details' restaurant.restaurant_slug %}">Back to Restaurant</a>
</div>
{% endblock%}