{% extends "food/layout.html" %}
{% block cover%}
<div class="restaurant-cover">
    <h1 class="menu-title">{{restaurant.restaurant_name}} Menu</h1>
</div>
{%endblock%}

{% block main %}

<section class="menu-content">

    {% for menuitem in menuitems%}
    <div class="menu-item">

        <h2>{{menuitem.item_name}}</h2>
        <p>{{menuitem.item_desc}}</p>
        <p class="item-price">€{{menuitem.item_price}}</p>
        <img src="{{menuitem.item_image}}" width="350px" height="200px" alt="">

    </div>
    {%endfor%}

    <a href="{% url 'food:index'%}">Back</a>
</section>
{% endblock %}