{% extends "food/layout.html" %}

{% block main %}
<section class="restaurants-list-section restaurants-padding">

    <div class="restaurant-by-city">
        <h2>Restaurant By City</h2>

        <ul class="categories-list">
            {% for city in cities %}
            <li><a href="{% url 'food:restaurants_by_city' city.city_slug %}">{{city.city_name}}</a></li>
            {%endfor%}
        </ul>
    </div>

    <div class="restaurants-list">
        {% for filtered_restaurant in filtered_restaurants%}
        <div class="restaurant-item">
            <h3 class="item-title">{{filtered_restaurant.restaurant_name}}</h3>
            <img src="{{filtered_restaurant.restaurant_image.url}}" width="200px" height="200px" alt="">

            <a class="btn" href="{%url 'food:restaurant_details' filtered_restaurant.restaurant_slug %}">View
                More</a>
        </div>


        {%endfor%}
    </div>

</section>
{% endblock %}